body{
     background-color: rgb(0, 0, 0);
    

}






h2{
    
    text-align: center;
    margin: 200px;
    background-color: #f6e7e7;
font-size: 30px;
    }





ul{
    text-align: center;
    color: aliceblue;
    
}



.titulo1{
   
    background-color: rgb(25, 0, 255);
    font-size: 20px;
    text-align:center;
   
}

h4{
    font-size: 30px;
}
.icon{
    height: 100px;
}
