@font-face {
    font-family:fantasy;
    src: url(one-day.otf);
    
}

.titulo {
    
    font-family: california;
    text-align:center;
}

h2{
    text-align: center;
}

ul{
    text-align: center;
}

.titulo1{
   margin-top: 1px;
    background-color: rgb(255, 0, 0);
    padding-left: 6rem;
    padding-right: 2rem;

}

